<div class="contenedor">

  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="https://github.com/kevquevedo" class="nav-link px-2 text-light" target="_blank">
        <img src="../../../assets/redes/github.png" class="imgs">
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.linkedin.com/in/kevin-quevedo" class="nav-link px-2 text-light" target="_blank">
        <img src="../../../assets/redes/linkedin.png" class="imgs">
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com/kevquevedo/" class="nav-link px-2 text-light" target="_blank">
        <img src="../../../assets/redes/instagram.png" class="imgs ">
      </a>
    </li>
  </ul>

  <p class="text-center text-light">© 2024 - kevdev</p>

</div>


