<div class="principal">

  <div class="fondo-habilidades"></div>
  <div class="detalle-habilidad">

    <div class="primer-linea">

      <div class="card">
        <img src="../../../assets/fondos/a1.svg" alt="" class="svg">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/fondos/a1.svg" alt="" class="svg">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>

    </div>

    <div class="segunda-linea">

      <div class="card">
        <img src="../../../assets/fondos/a1.svg" alt="" class="svg">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/fondos/a1.svg" alt="" class="svg">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>

    </div>

    <div class="tercer-linea">

      <div class="card">
        <img src="../../../assets/fondos/a1.svg" alt="" class="svg">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>

    </div>





    <!-- <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Cobol Developer</h3>
      </div>
      <p>
        Como COBOL Batch Developer, tengo una sólida experiencia en el desarrollo y mantenimiento de aplicaciones batch críticas para el negocio. Mi enfoque se centra en la eficiencia y la fiabilidad de los procesos batch, asegurando un procesamiento eficaz de grandes volúmenes de datos y la generación o manipulación de resultados precisos para satisfacer las necesidades de la empresa.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Full Stack Developer</h3>
      </div>
      <p>
        Como Front-End Developer, mi objetivo es crear experiencias web cautivadoras y funcionales para los usuarios. Con experiencia en el desarrollo de interfaces de usuario responsivas y adaptativas, utilizo un enfoque centrado en el usuario y las últimas tecnologías web para ofrecer productos de alta calidad.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Maquetador Web Responsive</h3>
      </div>
      <p>
        Como maquetador web responsive, tu objetivo es crear diseños que se adapten fluidamente a diferentes tamaños de pantalla y dispositivos, asegurando una experiencia óptima para los usuarios en computadoras de escritorio, tabletas y teléfonos móviles.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Angular Developer</h3>
      </div>
      <p>
        Como desarrollador de Angular, tu tarea principal es crear aplicaciones web robustas y escalables utilizando el framework Angular.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Ionic Developer</h3>
      </div>
      <p>
        Como desarrollador de Ionic, mi enfoque principal es crear aplicaciones móviles multiplataforma utilizando el poder del framework Ionic. Utilizo mi experiencia en tecnologías web como HTML, CSS y JavaScript para diseñar y desarrollar interfaces de usuario atractivas y funcionales que se adapten perfectamente a dispositivos iOS, Android y otros.
      </p>
    </div> -->

  </div>

</div>



