
<app-navbar></app-navbar>

<div class="principal">

  <div class="titulo">
    <h2 class="lh">H</h2>
    <h2 class="lh">A</h2>
    <h2 class="lh">B</h2>
    <h2 class="lh">I</h2>
    <h2 class="lh">L</h2>
    <h2 class="lh">I</h2>
    <h2 class="lh">D</h2>
    <h2 class="lh">A</h2>
    <h2 class="lh">D</h2>
    <h2 class="lh">E</h2>
    <h2 class="lh">S</h2>
  </div>

  <div class="detalle-habilidad">

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Cobol Developer</h3>
      </div>
      <p>
        Como COBOL Batch Developer, tengo una sólida experiencia en el desarrollo y mantenimiento de aplicaciones batch críticas para el negocio. Mi enfoque se centra en la eficiencia y la fiabilidad de los procesos batch, asegurando un procesamiento eficaz de grandes volúmenes de datos y la generación o manipulación de resultados precisos para satisfacer las necesidades de la empresa.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Full Stack Developer</h3>
      </div>
      <p>
        Como Front-End Developer, mi objetivo es crear experiencias web cautivadoras y funcionales para los usuarios. Con experiencia en el desarrollo de interfaces de usuario responsivas y adaptativas, utilizo un enfoque centrado en el usuario y las últimas tecnologías web para ofrecer productos de alta calidad.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Maquetador Web Responsive</h3>
      </div>
      <p>
        Como maquetador web responsive, tu objetivo es crear diseños que se adapten fluidamente a diferentes tamaños de pantalla y dispositivos, asegurando una experiencia óptima para los usuarios en computadoras de escritorio, tabletas y teléfonos móviles.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Angular Developer</h3>
      </div>
      <p>
        Como desarrollador de Angular, tu tarea principal es crear aplicaciones web robustas y escalables utilizando el framework Angular.
      </p>
    </div>

    <div class="cuadro-habilidad">
      <div class="titulo-habilidad">
        <h3>Ionic Developer</h3>
      </div>
      <p>
        Como desarrollador de Ionic, mi enfoque principal es crear aplicaciones móviles multiplataforma utilizando el poder del framework Ionic. Utilizo mi experiencia en tecnologías web como HTML, CSS y JavaScript para diseñar y desarrollar interfaces de usuario atractivas y funcionales que se adapten perfectamente a dispositivos iOS, Android y otros.
      </p>
    </div>

  </div>

</div>



