@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* FUENTES */

h1{
  font-size: 40pt;
  margin-left: 20px;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  filter: drop-shadow(0px 4px 10px white);
}

h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 13pt;
  color: black;
  text-align: center;
}

h6:hover{
  transition: all 0.3s;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

img{
  width: 25%;

}


/* ESTRUCTURA WEB*/

.navegador{
  width: 90%;
  height: 15vh;
  position: absolute;
  background-color: transparent;
  right: 10%;
  left: 10%;
}

.firmaname{
  display: flex;
}

.firma{
  display: none;
}

.bandera{
  width: 10%;
}

.boton-principal{
  width: 150px;
}


/* ESTRUCTURA NOTEBOOK / TABLET */

@media (max-width: 992px){
  .offcanvas-body{
    margin-right: 100px;
  }
}

/* ESTRUCTURA MOBILE */

.offcanvas{
  background-color: #2a8c4a;
  /* background-image: url(../../../assets/fondos/mundo-canvas.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; */
}

@media (max-width: 768px) {

  .navegador{
    width: 100%;
    background-color: transparent;
    left: 0;
  }

  .container-fluid{
    display: flex;
    justify-content: end;
  }

  .navbar-toggler{
    border: 2px solid black;
  }




  .firmaname{
    margin-top: 20px;
  }

  .firmaname2{
    display: flex;
  }

  .firma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p{
    font-family: 'Dosis', sans-serif;
    font-size: 15pt;
  }
}
