
<div class="fondo-divisor">
  <div class="divisor">
    <div class="cuadro-proyectos"></div>
  </div>
</div>



<div class="principal">
  <div class="proyecto-1" data-aos="fade-up" data-aos-duration="2000">
    <img src="../../../assets/proyectos/elbuencomer.png" alt="" class="img-proyecto-1">
    <div class="texto-proyecto-1">
      <p>
        "El Buen Comer" es una app móvil que está diseñada para hacer que la administración de un restaurante sea más sencilla y efectiva, brindando una experiencia excepcional a clientes y hacer crecer el negocio.
      </p>
      <div class="tecnologias">
        <img src="../../../assets/tecnologias/ionic2.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/angular.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/ts.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/html.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/css.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/bootstrap.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/firebase.png" alt="" class="tecno-proyecto">
      </div>
      <div class="botones">
        <button class="btn btn-info boton-abrir-proyecto" type="button" >
          <a href="https://github.com/kevquevedo/ElBuenComer" target="_blank">
            <img src="../../../assets/varios/code.png" alt="" class="abrir-proyecto">
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="proyecto-2" data-aos="fade-up" data-aos-duration="2000">

    <div class="texto-proyecto-2">
      <p>
        "Clínica Quevedo" es una app web que ayuda a gestionar el sistema de turnos de un establecimiento de salud, como así tambien los perfiles de cada usuario (paciente, especialista, admin) y su informacion personal.
      </p>
      <div class="tecnologias">
        <img src="../../../assets/tecnologias/angular.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/ts.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/html.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/css.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/bootstrap.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/firebase.png" alt="" class="tecno-proyecto">
      </div>
      <div class="botones">
        <button class="btn btn-info boton-abrir-proyecto" type="button" >
          <a href="https://github.com/kevquevedo/Clinica-Quevedo" target="_blank">
            <img src="../../../assets/varios/code.png" alt="" class="abrir-proyecto">
          </a>
        </button>
        <button class="btn btn-success boton-abrir-web" type="button" >
          <a href="https://clinica-quevedo.web.app/" target="_blank">
            <img src="../../../assets/varios/web.png" alt="" class="abrir-proyecto">
          </a>
        </button>
      </div>
    </div>
    <img src="../../../assets/proyectos/clinica.png" alt="" class="img-proyecto-2">
  </div>
  <div class="proyecto-3" data-aos="fade-up" data-aos-duration="2000">
    <img src="../../../assets/proyectos/juegos.png" alt="" class="img-proyecto-3">
    <div class="texto-proyecto-3">
      <p>
        "QuevedoJuegos" es una app web que permite disfrutar de un momento de ocio con juegos clásicos como "El ahorcado", "Mayor, menor o igual", "Preguntas y respuestas" y "Generala Obligada".
      </p>
      <div class="tecnologias">
        <img src="../../../assets/tecnologias/angular.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/ts.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/html.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/css.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/bootstrap.png" alt="" class="tecno-proyecto">
        <img src="../../../assets/tecnologias/firebase.png" alt="" class="tecno-proyecto">
      </div>
      <div class="botones">
        <button class="btn btn-info boton-abrir-proyecto" type="button" >
          <a href="https://github.com/kevquevedo/Quevedo-Juegos" target="_blank">
            <img src="../../../assets/varios/code.png" alt="" class="abrir-proyecto">
          </a>
        </button>

        <button class="btn btn-success boton-abrir-web" type="button" >
          <a href="https://quevedo-saladejuegos.web.app/" target="_blank">
            <img src="../../../assets/varios/web.png" alt="" class="abrir-proyecto">
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="divisor-inferior"></div> -->
