@keyframes shake-vertical{ 0%,100%{transform:translateY(0)} 10%,30%,50%,70%{transform:translateY(-32px)} 20%,40%,60%{transform:translateY(32px)} 80%{transform:translateY(18px)} 90%{transform:translateY(-18px)}}
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alfa+Slab+One&family=Anta&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Rubik+Marker+Hatch&display=swap');


/* FUENTES*/
h1{
  font-family: 'Dosis', sans-serif;
  font-size: 60pt;
  color: #452212;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin-left: 10px;
}

h1:hover{
  animation:shake-vertical 2s cubic-bezier(.455,.03,.515,.955) both
}

h4{
  font-family: 'Dosis', sans-serif;
}

p{
  width: 100%;
  height: 60%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15pt;
  line-height: 25px;
}

img{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ESTRUCTURA WEB */

.fondo-divisor{
  padding-top: 5px;
  background-color: #c1ffc0;
}

.divisor{
  /* background-image: url(../../../assets/fondos/a2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
  position: absolute;
  filter: drop-shadow(0px 5px 2px black);
  box-shadow: none; */
  width: 100%;
  height: 20vh;

  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-top: 1px solid black;

  filter: drop-shadow(0px -3px 1.5px gray);
  background-color: #2a8c4a;
}

.cuadro-proyectos{
  width: 50%;
  height: 30vh;
  margin-left: 5%;
  background-image: url(../../../assets/fondos/prueba-edificio2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  position: absolute;
  filter: drop-shadow(0px 5px 20px white);
}

.cuadro-proyectos:hover{
  transition: all 1s;
  transform: scale(110%);
}

.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a8c4a;
  padding-bottom: 10vh;
}

/* PRIMER PROYECTO */
.proyecto-1,
.proyecto-2,
.proyecto-3{
  display: flex;
  width: 45%;
  padding: 2%;
  margin-bottom: 50px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.proyecto-1,
.proyecto-3{
  margin-right: 50px;
  align-self: flex-end;
}

.proyecto-2{
  margin-left: 50px;
  align-self: flex-start;
}

.proyecto-1{
  margin-top: 20vh;
}

.img-proyecto-1,
.img-proyecto-2,
.img-proyecto-3{
  width: 25%;
  border-radius: 40px;
}

.texto-proyecto-1,
.texto-proyecto-2,
.texto-proyecto-3{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.texto-proyecto-2{
  margin-left: 0;
  margin-right: 5%;
}

.tecnologias{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tecno-proyecto{
  width: 7%;
  margin-left: 10px;
  border-radius: 20%;
}

/* BOTONES DE LOS PROYECTOS */

.boton-abrir-proyecto{
  width: 12%;
  padding: 10px;
  border-radius: 50%;
}

.boton-abrir-web{
  width: 12%;
  padding: 5px;
  border-radius: 50%;
  margin-left: 20px;
}

.botones{
  margin-top: 20px;
  height: 20%;
}

.divisor-inferior{
  background-image: url(../../../assets/fondos/a2-osc.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  position: absolute;
  filter: drop-shadow(0px 5px 2px black);
  box-shadow: none;
}

/* ESTRUCTURA DE TABLET */

@media (max-width: 1200px) and (min-width: 768px){

  .texto-proyecto-2{
    margin-left: 5%;
    margin-right: 0;
  }

  .tecnologias{
    margin-top: 10px;
  }

  .tecno-proyecto{
    width: 10%;
  }

  .boton-abrir-proyecto{
    width: 15%;
  }

  .boton-abrir-web{
    width: 15%;
  }

  p{
    line-height: 25px;
  }

}


/* ESTRUCTURA MOBILE */
@media (max-width: 768px){

  .divisor{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  .cuadro-proyectos{
    width: 90%;
  }

  .proyecto-1,
  .proyecto-2,
  .proyecto-3
  {
    margin-left: 0px;
    margin-right: 0px;
    align-self: center;
  }

  .proyecto-1{
    margin-top: 10vh;
  }

  .img-proyecto-1,
  .img-proyecto-2,
  .img-proyecto-3{
    width: 00%;
    border-radius: 40px;
  }

  .titulo{
    margin-top: 0;
  }

  h1{
    margin-top: 10vh;
    font-size: 30pt;
  }

  p{
    font-size: 12pt;
  }

  .proyecto-1,
  .proyecto-2,
  .proyecto-3{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proyecto-2{
    display: flex;
    flex-direction: column-reverse;
  }

  .img-proyecto-1,
  .img-proyecto-2,
  .img-proyecto-3{
    width: 50%;
    border-radius: 40px;
  }

  .texto-proyecto-1,
  .texto-proyecto-2,
  .texto-proyecto-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .texto-proyecto-2{
    margin-right: 0;
  }

  .tecnologias{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 10px;
  }

  .tecno-proyecto{
    width: 10%;
    margin-left: 10px;
    border-radius: 20%;
  }

  .botones{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .boton-abrir-proyecto{
    width: 15%;
  }

  .boton-abrir-web{
    width: 15%;
    margin-left: 30px;
  }

}
