
h1{
  margin-top: 30vh;
  font-size: 60pt;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);

}

.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cuerpo{
  display: flex;
  width: 100%;
  border: 1px solid red;
}


@media (max-width: 768px){
  h1{
    margin-top: 10vh;
    font-size: 30pt
  }
}

