<main data-aos="fade-zoom-in">
  <div class="info">
    <div class="info2">
      <div class="info3">

        <div class="imagenes">
          <img src="../../../assets/letras/k-.svg" alt="" class="letra">
          <img src="../../../assets/letras/e-.svg" alt="" class="letra">
          <img src="../../../assets/letras/v-.svg" alt="" class="letra">
          <img src="../../../assets/letras/i-.svg" alt="" class="letra">
          <img src="../../../assets/letras/n-.svg" alt="" class="letra">

        </div>

        <!--
        <div class="nombre">
          <div class="imagenes">
            <img src="../../../assets/letras/k-.svg" alt="" class="letra">
            <img src="../../../assets/letras/e-.svg" alt="" class="letra">
            <img src="../../../assets/letras/v-.svg" alt="" class="letra">
            <img src="../../../assets/letras/i-.svg" alt="" class="letra">
            <img src="../../../assets/letras/n-.svg" alt="" class="letra">
          </div>

          <h5>FULL STACK DEVELOPER / COBOL DEVELOPER</h5>
        </div>
        <div class="imagen">
          <div class="imagen-fondo-1">
            <div class="imagen-fondo-2">

            </div>
          </div>
        </div>

        -->

      </div>

    </div>
    <img src="../../../assets/per3.svg" alt=""  class="imagen-perfil">
  </div>
</main>
