<div class="panel-tecno" data-aos="fade-up-right" data-aos-duration="1000">


  <div class="titulo">
    <h1>T</h1>
    <h1>E</h1>
    <h1>C</h1>
    <h1>N</h1>
    <h1>O</h1>
    <h1>L</h1>
    <h1>O</h1>
    <h1>G</h1>
    <h1>Í</h1>
    <h1>A</h1>
    <h1>S</h1>
  </div>

  <div class="cuadricula container text-center">
    <div class="row row-cols-6">

      <div class="cuadro col">
        <img src="../../../assets/tecnologias/angular.png" alt="">
        <h3>ANGULAR</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/html.png" alt="">
        <h3>HTML5</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/css.png" alt="">
        <h3>CSS</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/js.png" alt="">
        <h3>JAVASCRIPT</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/ts.png" alt="">
        <h3>TYPESCRIPT</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/php.png" alt="">
        <h3>PHP</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/node.png" alt="">
        <h3>NODEJS</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/sql.png" alt="">
        <h3>MYSQL</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/cobol.png" alt="">
        <h3>COBOL</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/c.png" alt="">
        <h3>C</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/c2.png" alt="">
        <h3>C#</h3>
      </div>.
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/ionic.png" alt="">
        <h3>IONIC</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/git.png" alt="">
        <h3>GIT</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/firebase.png" alt="">
        <h3>FIREBASE</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/redes/github.png" alt="">
        <h3>GITHUB</h3>
      </div>
      <div class="cuadro col">
        <img src="../../../assets/tecnologias/py.png" alt="">
        <h3>PYTHON</h3>
      </div>

    </div>

  </div>
</div>
